<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> <property 
		name="url" value="jdbc:mysql://localhost:3306/mailmanager" /> <property name="username" 
		value="root" /> <property name="password" value="" /> <property name="defaultAutoCommit" 
		value="true" /> </bean> <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="mysessionFactory" /> </bean> <bean id="mysessionFactory" 
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"> <property 
		name="packagesToScan" value="biz.picosoft.entity"/> <property name="dataSource" 
		ref="dataSource"></property> <property name="hibernateProperties"> <props> 
		<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> <prop 
		key="hibernate.hbm2ddl.auto">update</prop> <prop key="hibernate.show_sql">true</prop> 
		</props> </property> </bean> <bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate"> 
		<property name="sessionFactory" ref="mysessionFactory"></property> <property 
		name="checkWriteOperations" value="false"></property> </bean> <bean id="d" 
		class="biz.picosoft.daoImpl.ContacteDaoImpl"> <property name="template" ref="template"></property> 
		</bean> -->

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="biz.picosoft.entity" />

		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true"></property>
				<property name="showSql" value="true"></property>

			</bean>
		</property>

	</bean>

	<context:component-scan base-package="biz.picosoft" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mailmanager" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="contactDaoImpl" class="biz.picosoft.daoImpl.ContacteDaoImpl">

	</bean>
	<bean id="sociétéDaoImpl" class="biz.picosoft.daoImpl.SociétéDaoImpl"/>
<bean id="courrierDaoImpl" class="biz.picosoft.daoImpl.CourrierDaoImpl"></bean>
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:annotation-driven proxy-target-class="true" />
</beans>
